/* Reset some default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header section */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
#logo {
    width: 150px; /* Adjust to your desired width */
    height: auto; /* Maintain aspect ratio */
}


/* Navigation menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main content area */
main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
}

main p {
    color: #555;
}

/* Footer section */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
