/* Reset some default styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header section */
header {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}


/* Main content area */
main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #333;
}

main p {
    color: #555;
}

main ul {
    color: #555;
}


/* Footer section */
footer {
    width: 100%;  /* Adjust this percentage to control the width */
    margin: 0 auto;  /* Center it horizontally */
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
